body,ul,li,tr,td,h1,th{margin:0;padding:0;font-family: '宋体';font-size:16px;}
a{text-decoration: none;}
*{padding:0px;margin:0px;}
li{list-style:none;}
h1{width:100%;height:60px;line-height:60px;font-size:1.5em;text-align:center;}
table{width:100%;cellspacing:0;cellpadding:0;border-spacing:0;font-family:'微软雅黑';}
table th:first-child{width:60%;}
table tr{width:100%;text-align:center;}
table .title{background:#8CD99E;}
table th{font-size:1em;color:#fff;font-family:'宋体';padding:12px 0px;}
table td{font-size:0.857em;padding:12px 0px;}
.gray{background:#ECECFB;}
.page a{display:block;float:left;border:2px solid #7ECEF4;border-radius:5px;width:25%;height:24px;line-height:24px;text-align: center;margin:20px 11.5%;color:#7ECEF4;}
/*index.html*/
#top{width:100%;padding:20px 0;background:#FF8077;}
#img_1{margin:0 auto;display:block;width:50%;padding:6px 0px;max-width: 372px;}
#img_2{margin:0 auto;display:block;width:51%;max-width: 356px;}
#item{width:100%;padding-bottom:10%;}
#item li{width:50%;float:left;margin-top:44px;text-align:center;}
#item img{width:60%;max-width:222px;}
#item a{display:block;font-size:0.75em;color:#535353;margin-top:10px;}